.img{
    width:300px;
    height:300px;
    padding:10px;
    object-fit: cover;
    transition: 1s;
}
.imgs{
    width:300px;
    height:300px;
    padding:10px;
    object-fit: cover;
    filter: blur(20px);
}
.box{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}